* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
body {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
  background: #fff;
}
.app {
  background-color: #ffff;
  min-height: 100vh;
}

.app-flex {
  display: flex;
  flex-direction: column;
}