* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
body {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}
.app {
  background-color: #fafafa;
  min-height: 100vh;
}

.timeline {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}